---
BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
ColumnLimit: 120

PointerAlignment: Left
AccessModifierOffset: -4
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true