---
BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
ColumnLimit: 100

PointerAlignment: Right
AccessModifierOffset: -4
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
