.vscode
.cache
*.img
*.wad
*.gbc
*.o
*.lef
*.so
*.so.*
*.a
serial.log
Kernel/build
Kernel/subprojects/*
!Kernel/subprojects/lai.wrap
Applications/build
LibLemon/build
LibLemon/subprojects/*
!LibLemon/subprojects/json.wrap
System/build
Scripts/build-win/mount.cfg
Initrd/*
Disks/*
Base/*
!Base/lemon
!Base/hello.asm
!Base/hello.py
initrd.tar
Ports/*
!Ports/*.sh
!Ports/*.patch
Toolchain/*
!Toolchain/*.sh
!Toolchain/*.patch
InterfaceCompiler/a.out