[submodule "mlibc"]
	path = mlibc
	url = https://github.com/managarm/mlibc.git
	
[submodule "Thirdparty/frigg"]
	path = Thirdparty/frigg
	url = https://github.com/managarm/frigg
[submodule "Thirdparty/fmt"]
	path = Thirdparty/fmt
	url = https://github.com/fmtlib/fmt
