.vscode
.cache
*.img
*.wad
*.gbc
*.o
*.lef
*.so
*.so.*
*.a
build
serial.log
subprojects/*
!subprojects/*.wrap
LibLemon/subprojects/*
Scripts/build-win/mount.cfg
Initrd/*
Disks/*
initrd.tar
Ports/*
!Ports/*.sh
!Ports/*.patch
Toolchain/*
!Toolchain/*.sh
!Toolchain/*.patch
InterfaceCompiler/lic
