Disks/Lemon.vhd
.vscode
*.img
*.wad
*.gbc
*.o
*.lef
*.so
*.so.*
*.a
serial.log
Kernel/build
Applications/build
LibLemon/build
System/build
Scripts/build-win/mount.cfg
Kernel/subprojects/lai
Initrd/*
Base/*
Disks/*
!Base/lemon
!Base/hello.asm
!Base/hello.py
initrd.tar
Ports/*
!Ports/*.sh
!Ports/*.patch
Toolchain/*
!Toolchain/*.sh
!Toolchain/*.patch
