[submodule "mlibc"]
	path = lib/mlibc
	url = https://github.com/managarm/mlibc.git
	
[submodule "Thirdparty/frigg"]
	path = thirdparty/frigg
	url = https://github.com/managarm/frigg
[submodule "Thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Thirdparty/cxxshim"]
	path = thirdparty/cxxshim
	url = https://github.com/managarm/cxxshim
