#
# Sample rc file for gnuboy
#
# You may want to rename this to gnuboy.rc to use it.
# Lines that begin with # are comments.
#


# Some keybindings

bind q quit
bind r reset

bind d +a
bind s +b

# Normal speed/fast forward
# Note that these only work with sound disabled
bind - "set framelen 16743"
bind + "set framelen 0"


# Set video mode to 400x300x16bpp
set vmode 400 300 16


# Enable full 2x screen scaling
# This will not work if your video mode is smaller than 320x288!
set scale 2
set density 2


# Enable stereo sound. Doesn't work on all systems
#set stereo true


# Path settings for DOS port - uncomment to use them!

#set rcpath c:/gnuboy
#set savedir c:/gnuboy/saves




#
# You get the idea by now...
# See the README for more information on rc commands and vars.
#

