
include Version

XZ_OBJS = xz/xz_crc32.o xz/xz_crc64.o xz/xz_dec_lzma2.o xz/xz_dec_stream.o xz/xz_dec_bcj.o

OBJS = lcd.o refresh.o lcdc.o palette.o cpu.o mem.o rtc.o hw.o sound.o \
	events.o keytable.o \
	loader.o save.o debug.o emu.o main.o \
	rccmds.o rckeys.o rcvars.o rcfile.o exports.o \
	split.o path.o inflate.o #$(XZ_OBJS)

INCS = -I.

MYCC = $(CC) $(CFLAGS) $(INCS) $(SYS_INCS) $(SYS_DEFS)
MYAS = $(AS) $(ASFLAGS) $(INCS) $(SYS_INCS) $(SYS_DEFS)

main.o: Version

.c.o:
	$(MYCC) -c $< -o $@

.s.o:
	$(MYAS) -c $< -o $@










