name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  base:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Update PATH
        run: echo "$HOME/.local/share/lemon/bin" >> $GITHUB_PATH
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential autoconf python3 python3-pip ninja-build qemu-utils nasm
          sudo python3 -m pip install meson xbstrap

      - name: Initialize and Update submodules
        run: git submodule update --init

      - name: Get hash of latest llvm-project commit
        run: |
          git ls-remote https://github.com/LemonOSProject/llvm-project.git | head -1 > llvm-hash.txt
          echo "Commit Hash:"
          cat llvm-hash.txt

      - name: Cache the toolchain and sysroot
        uses: actions/cache@v2
        with:
          path: |
            **/Build/tool-builds
          key: ${{ runner.os }}-lemon-toolchain-${{ hashFiles('llvm-hash.txt') }}
          restore-keys: |
            ${{ runner.os }}-lemon-toolchain-${{ hashFiles('llvm-hash.txt') }}

      - name: Init xbstrap
        run: |
          mkdir Build
          cd Build
          xbstrap init ..

      - name: Build the toolchain
        run: |
          cd Build
          xbstrap install-tool --all
        
      - name: Building system
        run: |
          cd Build
          xbstrap install lemon-base

      - name: Building disk image
        run: |
          cd Build
          xbstrap run build-disk
  full-system:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Update PATH
        run: echo "$HOME/.local/share/lemon/bin" >> $GITHUB_PATH
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential autoconf python3 python3-pip ninja-build qemu-utils nasm
          sudo python3 -m pip install meson xbstrap

      - name: Initialize and Update submodules
        run: git submodule update --init

      - name: Get hash of latest llvm-project commit
        run: |
          git ls-remote https://github.com/LemonOSProject/llvm-project.git | head -1 > llvm-hash.txt
          echo "Commit Hash:"
          cat llvm-hash.txt

      - name: Cache the toolchain and sysroot
        uses: actions/cache@v2
        with:
          path: |
            **/Build/tool-builds
          key: ${{ runner.os }}-lemon-toolchain-${{ hashFiles('llvm-hash.txt') }}
          restore-keys: |
            ${{ runner.os }}-lemon-toolchain-${{ hashFiles('llvm-hash.txt') }}

      - name: Init xbstrap
        run: |
          mkdir Build
          cd Build
          xbstrap init ..

      - name: Build the toolchain
        run: |
          cd Build
          xbstrap install-tool --all
        
      - name: Building system
        run: |
          cd Build
          xbstrap install lemon-base nyancat curl busybox binutils lemondoom

      - name: Building disk image
        run: |
          cd Build
          xbstrap run build-disk
      
      - name: Uploading image as artefact
        uses: actions/upload-artifact@v2
        with:
          name: Lemon
          path: Disks/Lemon.img
